In [25]:
import pandas as pd

# Datos de proyectos
datos = {
    'Fase Actual': ['Diseño', 'Desarrollo', 'Testing', 'Lanzamiento', 'Mantenimiento'],
    'Costo Estimado': [20000, 50000, 15000, 30000, 10000],
    'Duración Estimada': [30, 90, 15, 20, 60]  # Duración en días
}
indices = ['Soriana', 'Coca Cola', 'Bimbo', 'Pepsi', 'Lala']

df = pd.DataFrame(datos, index=indices)
df

             Fase Actual  Costo Estimado  Duración Estimada
Soriana           Diseño           20000                 30
Coca Cola     Desarrollo           50000                 90
Bimbo            Testing           15000                 15
Pepsi        Lanzamiento           30000                 20
Lala       Mantenimiento           10000                 60

In [26]:
riesgo_de_retraso = ['Alto' if x > 50 else 'Bajo' for x in df['Duración Estimada']]

df['Riesgo de Retraso'] = riesgo_de_retraso

df

             Fase Actual  Costo Estimado  Duración Estimada Riesgo de Retraso
Soriana           Diseño           20000                 30              Bajo
Coca Cola     Desarrollo           50000                 90              Alto
Bimbo            Testing           15000                 15              Bajo
Pepsi        Lanzamiento           30000                 20              Bajo
Lala       Mantenimiento           10000                 60              Alto

In [27]:
costo_estimados_actualizados = [round(x * 1.08) for x in df['Costo Estimado']]

df['Costo Estimado'] = costo_estimados_actualizados
df

             Fase Actual  Costo Estimado  Duración Estimada Riesgo de Retraso
Soriana           Diseño           21600                 30              Bajo
Coca Cola     Desarrollo           54000                 90              Alto
Bimbo            Testing           16200                 15              Bajo
Pepsi        Lanzamiento           32400                 20              Bajo
Lala       Mantenimiento           10800                 60              Alto

In [28]:
df = df.drop(axis=1, columns='Duración Estimada')
df

             Fase Actual  Costo Estimado Riesgo de Retraso
Soriana           Diseño           21600              Bajo
Coca Cola     Desarrollo           54000              Alto
Bimbo            Testing           16200              Bajo
Pepsi        Lanzamiento           32400              Bajo
Lala       Mantenimiento           10800              Alto